Dealing with the data

    Show the dataframe shape.
    Standardize header names.
    Which columns are numerical?
    Which columns are categorical?
    Check and deal with NaN values.
    Datetime format.
    BONUS: Put all the previously mentioned data transformations into a function.

In [8]:
import pandas as pd

In [1]:
pwd

'C:\\Users\\jaanu\\Ironhack Course Work\\Week 1\\lab-customer-analysis-round-2'

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8A6A-61A6

 Directory of C:\Users\jaanu\Ironhack Course Work\Week 1\lab-customer-analysis-round-2

21/10/2020  16:21    <DIR>          .
21/10/2020  16:21    <DIR>          ..
21/10/2020  16:20    <DIR>          .github
21/10/2020  16:21    <DIR>          .ipynb_checkpoints
21/10/2020  16:20    <DIR>          files_for_lab
21/10/2020  16:21                72 Lab - Customer Analysis Round 2.ipynb
21/10/2020  16:20               590 readme.md
               2 File(s)            662 bytes
               5 Dir(s)  13.296.959.488 bytes free

In [3]:
cd files_for_lab

C:\Users\jaanu\Ironhack Course Work\Week 1\lab-customer-analysis-round-2\files_for_lab

In [4]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8A6A-61A6

 Directory of C:\Users\jaanu\Ironhack Course Work\Week 1\lab-customer-analysis-round-2\files_for_lab

21/10/2020  16:20    <DIR>          .
21/10/2020  16:20    <DIR>          ..
21/10/2020  16:20               273 about.md
21/10/2020  16:20    <DIR>          csv_files
21/10/2020  16:20    <DIR>          excel_files
               1 File(s)            273 bytes
               4 Dir(s)  13.296.959.488 bytes free

In [5]:
cd csv_files

C:\Users\jaanu\Ironhack Course Work\Week 1\lab-customer-analysis-round-2\files_for_lab\csv_files

In [6]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8A6A-61A6

 Directory of C:\Users\jaanu\Ironhack Course Work\Week 1\lab-customer-analysis-round-2\files_for_lab\csv_files

21/10/2020  16:20    <DIR>          .
21/10/2020  16:20    <DIR>          ..
21/10/2020  16:20         1.581.918 marketing_customer_analysis.csv
               1 File(s)      1.581.918 bytes
               2 Dir(s)  13.296.758.784 bytes free

In [9]:
data = pd.read_csv(r"marketing_customer_analysis.csv")

In [10]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [11]:
data.shape

(9134, 24)

In [13]:
data.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [14]:
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [15]:
data.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [17]:
#change format of date column

data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

In [18]:
data.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [21]:
#1 Function to combine all steps

def clean_data(data):
    data.columns=[e.lower().replace(' ', '_') for e in data.columns]
    data=data.dropna()
    data['effective_to_date']=pd.to_datetime(df['effective_to_date'], errors='coerce')
    return clean_data(data) # call the function